button {
    
width: 420px;
height: 55px;
display: block;
margin-right: auto;
margin-left: auto;
margin-bottom: 100px;
border-radius: 0;
background-color: var(--color-second);
border: none;
font-family: inherit;
color: var(--color-third);
font-size: 20px;
cursor: pointer;
box-shadow: 4px 4px 0px var(--color-black-first);
transition: transform 200ms ease-in-out;
}

/* só acontecerão as propriedades abaixo quando o mouse passar sobre o botão */
button:hover {

    transform: scale(1.1);

}