.wrapper-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-banner .banner {
    margin-bottom: 20px;
}

.wrapper-banner .caption {
    width: 200px;
    text-align: center;
}

