.wrapper-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 300ms transform linear;
    
}

.wrapper-banner:hover {
    transform: scale(1.1);
    transition: 200ms transform linear;
}

.wrapper-banner .main-banner {
    margin-bottom: 20px;
}

.wrapper-banner .main-caption {
    width: 200px;
    text-align: center;
}

